body {
  margin: 0 auto;
  padding: 0;
  background: #282828;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  max-width: 1280px;
}
html {
  scroll-behavior: smooth; 
}
p{
  margin: 0;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  color: #FFD233;
}
h2 {  
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 500;
  margin: 0;  
}
A:link { 
  text-decoration:none;
} 
A:hover {
  text-decoration: none; 
  color: #FFD233;
}
.a-link{
  color:#eee798;
}
.nav {
  display: block;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 10px 16px 10px;
  padding: 0;
  list-style: none;
}
.menu_link {
  font-size: 20px;
  color: #FFFFFF;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about-me {
  font-family: 'lucida_consoleregular';
  font-style: normal;
  font-size: 36px;
  font-weight: normal;
  color: #FFFFFF;
}
.foto {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.line{
  width: 100%;
  height: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  background-color: #FFD233;
}
.wrapper-contact{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2em;
  margin-left: 56%;
}
.contact-list{
  font-size: 24px;
  color: #FFFFFF;
  vertical-align: middle;
}
.wrapper-aboutme{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3em;
}
.aboute-list{
  background-color: #FFD233;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.4%;
  color: #282828;
  padding: 1em 0 1em 4em;
  margin: 1em 0;
}
.wrapper-skills{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-left: 1;
}
.wrapper-education{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom: 3em;
}
.education{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(3 1fr);
  gap: 10px 10px;
}
.wrapper-work{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 1em;
}
.keystr{
  width: 40%;
  margin-left: 5%;
}
.work{
  width: 70%;
}
.aboute-code{
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.4%;
  width: 100%;
  margin: 1em 0 3em 0;
}
.code-text{
  margin-left: 10%;
  padding: 2% 0;
}
.work-ex-list, .work-key-list, .skills-list, .education{
  list-style-type: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 156%;
  padding: 0;
}
.topbutton{
  display: flex;
  justify-content: right;
}
.footer{
  background-color: #FFD233;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.footer-mygit-logo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 36px;
  margin-top: 10%;
}
.footer-time{
  color: #000000;
  font-size: 24px;
  align-items: center;
}
